/*
body {
margin: 0;
padding: 0;
font-family: Helvetica,Arial;
font-size: 13px;
background:url('../images/buscador/bg.png') repeat-y scroll 0 top transparent;
}*/

a { cursor: pointer }

.home {
	background: #FFF;
}

.home #wrapper {
	margin-top: 10px;
}

#wrapper .search {
	/*
		Red: 9a2727
		Green: 0A3801
		Violet: 740b61
		Blue: FFF, 021D38
	*/
	background-color: #021D38!important;
	border-bottom:1px solid #6483a2 !important;
	border-top:1px solid #6483a2 !important;
}

#wrapper ul.search-options li.active a {
	background:none repeat scroll 0 0 #34495f !important;
	border-color:#6483a2 #6483a2 #34495f !important;
	border-style:solid !important;
	border-width:1px 1px 2px !important;
}

.taringa-bar {
	background: none;
	border-bottom:  none!important;
}

.taringa-bar ul li#logo {
	width: 114px;
	height: 20px;
	float: right!important;
	background: url('../images/buscador/logos-home.png') no-repeat;
}

.taringa-bar ul.floatL li.selected a {
	background:none repeat scroll 0 0 #ad5151 !important;
	border-color:#420707 #420707 #ad5151 !important;
	border-style:solid !important;
	border-width:1px 1px 2px !important;
}

.taringa-search .search {
	top: 0!important;
}

.taringa-search .search-box {
	width: 610px;
	margin: 0 auto;
	position: relative;
}

/*
.solapaConClassDiferente #wrapper .search {
		background-color: #740b61!important;
		border-bottom:1px solid #400836 !important;
		border-top:1px solid #400836 !important;
}
*/

/* Genericos */
.floatR {
	float: right;
}
.floatL {
	float: left;
}
a {
	text-decoration: none;
	color: #0000DE;
}
/* Fin Genericos */

/* SEARCH HOME */

form {
	position: relative;
}
.search-btn-option {
	-moz-border-radius:0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	
	
	background:none repeat scroll 0 0 #021D38;
	
	bottom:-33px;
	color:#FFFFFF;
	display:block;
	font-size:11px;
	padding:5px 10px;
	position:absolute;
}

#header ul {
margin: 0 0 0px 0;
padding: 0;
background:#FFF;
}
#header ul li, ul.search-options li {
float: left;
display: block;
position:relative;
z-index: 50;
}
#header ul li a, ul.search-options li a {
padding: 5px 10px;
display: block;
color: #000;
font-size: 13px;
font-weight: bold;
opacity: 0.6;
}
#header ul li a:hover {
opacity: 1
}
#header ul li.selected a, ul.search-options li.active a {
background: #6baee6;
color: #FFF!important;
text-shadow: 0 1px 0px rgba(0,0,0,0.5);;
opacity: 1!important;
border-bottom: 2px solid #6baee6;
border-right: #11478c 1px solid;
border-top: #11478c 1px solid;
border-left: #11478c 1px solid;
}

#header ul li.selected a {
	border-top: none!important;
	
}
ul.search-options  li a { 
	border: 1px solid #CCC;
	background: #EEE;
	border-bottom: none!important;
}
#header ul.bar-list li a {
	opacity: 1;
}

#header .tab-search.iconos16.tab-web span {background-position: 0 -1px;}
#header .tab-search.iconos16.tab-posts span {background-position: 0 -18px;}
#header .tab-search.iconos16.tab-comunidades span {background-position: 0 -35px;}
#header .tab-search.iconos16.tab-empleos span {background-position: 0 -52px;}

#header .tab-search.iconos16.selected.tab-web span {background-position: -17px -1px;}

#header .tab-search.iconos16.selected.tab-posts span {background-position: -17px -18px;}
#header .tab-search.iconos16.selected.tab-comunidades span {background-position: -17px -35px;}
#header .tab-search.iconos16.selected.tab-empleos span {background-position: -17px -53px;}

#header .tab-search.iconos16.tab-home span {background: url('../images/buscador/home.png') no-repeat 0 0;}
#header .tab-search.iconos16.tab-home a {background: #000}


.iconos16.icon-expand {display:none}
#header .search,.taringa-search .search {
background:  url('../images/buscador/bg-search.png') repeat-x top left;
background-color: #479ae0;
padding:8px 0;
-moz-box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.4);
-webkit-box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.4);
box-shadow: -5px 2px 5px rgba(0, 0, 0, 0.4);

border-bottom:#11478c 1px solid;
border-top: #11478c 1px solid;
position: relative;
top: -2px;
}

#header #logo,.taringa-search .search #logo {
	float: left;
	margin: 0 23px 0 6px;
}
#header #logo a,.taringa-search .search #logo a {
	width: 158px;
	height: 31px;
	background: url('../images/buscador/logo.png') no-repeat top left;
	display: block;
	text-indent: -999999px;
	margin: 6px;
}

#header .search .search-box {
	float: left;
}

textarea, input,textarea:focus, input:focus{ outline:none;}


#header .search .search-box .input-left,#header .search .search-box input,#header .search .search-box .input-right,
.taringa-search .search .search-box .input-left,.taringa-search .search .search-box input,.taringa-search .search .input-right  {
	height: 26px;
	float: left;
	display: block;
	padding: 8px 0;
	font-size: 16px;
	border: none;
	outline: none!important;
}

.btn-search a {
	width: 94px;
	height: 42px;
	background: url('../images/buscador/btn-buscar.png') no-repeat;
	background-position: 0 0;
	margin-left: 10px;
	display: block;
}

.buscar input {
	outline: none!important;
}

.btn-search a:hover {
	background-position: 0 -43px;
}

.btn-search a:active {
	background-position: 0 -86px;
}

#header .search .search-box .input-left, .taringa-search .search .search-box .input-left {
	width: 40px;
	background: url(../images/buscador/input_left.png) top left no-repeat;
}

#header .search .search-box input,.taringa-search .search .search-box input {
	width: 450px;
	background: url(../images/buscador/input.png) top left repeat-x;
	font-family: Helvetica, Arial;\
}

#header .search .search-box .input-right,.taringa-search .search .search-box .input-right{
	width: 10px;
	background: url(../images/buscador/input_right.png) top left no-repeat;
}


#header .search .search-box form {
	width: auto;
	padding: 0;
	margin: 0;
}


/* XTRAS */
/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix {
zoom: 1;
}
/* IE6 */
*:first-child+html .clearfix {
zoom: 1;
}

.taringa-search ul.search-options li a  {
	color: #000;	
}

.taringa-search .sinput {
	border: 1px solid #b40701;
	border-right: 0 none;
}

.taringa-search h1 a  {
background-image:url(../images/buscador/logo-big-p.png);
width:196px!important;
}

.taringa-search .sbutton {
	background:#e94121 url(../images/buscador/bg_search_red.gif) repeat-x scroll left top;
	border:1px solid #b40701;
	text-shadow: 0 -1px 0 #8d1211;
}

.taringa-search .sbutton:hover {
	background:#e94121 url(../images/buscador/bg_search_red.gif) repeat-x scroll 0 -60px;
}
	

.taringa-search .sbutton:active {
	background:#e94121 url(../images/buscador/bg_search_red.gif) repeat-x scroll 0 -90px;
}

/* Mini Buscador */

.taringa-search-min .sinput {
	border: 1px solid #b40701;
	border-right: 0 none;
}


.taringa-search-min .sbutton {
	background:#e94121 url(../images/buscador/bg_search_red.gif) repeat-x scroll left top;
	border:1px solid #b40701;
	text-shadow: 0 -1px 0 #8d1211;
}

.taringa-search-min .sbutton:hover {
	background:#e94121 url(../images/buscador/bg_search_red.gif) repeat-x scroll 0 -60px;
}
	

.taringa-search-min .sbutton:active {
	background:#e94121 url(../images/buscador/bg_search_red.gif) repeat-x scroll 0 -90px;
}

.taringa-search-min a {
	color:#de0000;
}
.taringa-search-min .sidebar ul li.active a.li-title {
	background:#b94b4b ;
	border-top: 1px solid #793030;
		border-bottom: 1px solid #793030;
	
}

#header #logo a {
background: url(../images/buscador/logo-p.png) no-repeat scroll left top transparent!important;
}

.taringa-bar ul li#logo {
background:url(../images/buscador/logos-home-p.png) no-repeat scroll 0 0 transparent!important;
}

