.category .feed
{
  margin: 4px 15px;
  float: right;
  line-height: 25px;
  background-position: left center;
}

.category .feed a
{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.cards
{
 width: 660px;
 margin: 0 ;
}

.cards tr.even
{
  background-color: #f3fafc;
}

.cards tr.odd
{
}

.cards tr:hover
{
  background-color: #fff;
}

.cards td
{
  padding: 12px 15px;
  border-bottom: 1px dotted #999;
}

.cards td.default,
.cards td.cardName
{
  border-right: 1px dotted #999;
}

.cards .cardName
{
  color: #524F46;
  font-weight: bold;
  width: 30%;
}

.cards .columnTitle
{
  color: #524F46;
  font-weight: bold;
  width: 30%;
  text-align: center;
}

.cards .rowTitle
{
  color: #524F46;
  font-weight: bold;
  width: 30%;
  height: 12px;
  text-align: center;
}

.cards .data
{
  color: #d2813f;
  width: 30%;
  text-align: center;
}

.cards .default
{
  padding: 0;
  color: #524F46;
  width: 40%;
}

.cards .default a
{
  padding: 12px 15px;
  display: block;
  text-decoration: none;
}

.cards .default a:hover
{
  text-decoration: underline;
}

.more_cards
{
  text-align: right;
  text-transform: uppercase;
  font-size: 85%;
  margin: 5px 15px 15px;
  clear: both;
}

.more_cards a
{
  color: #176f94;
  text-decoration: none;
  font-weight: bold;
  font-size: 130%;
}

.more_cards a:hover
{
  color: #176f94;
  text-decoration: underline;
}

.pagination_desc
{
  margin-left: 15px;
  margin-top: 10px;
  font-style: italic;
  color: #828f95;
}

.pagination_desc strong
{
  color: #176f94;
}

.pagination
{
  margin-top: 10px;
  float: right;
  margin-right: 10px;
  color: #176f94;
  font-size: 110%;
  font-weight: bold;
}

.pagination a
{
  margin: 0 1px;
  text-decoration: none;
  color: #828f95;
  font-size: 75%;
  vertical-align: 1px;
  font-weight: normal;
}

.pagination a:hover
{
  text-decoration: underline;
}

.pagination img
{
  vertical-align: -2px;
}
